accelerate==1.0.1
datasets==3.0.2
evaluate==0.4.3
gensim==4.3.3
gradio==5.9.1
jsonpickle==3.4.2
matplotlib==3.10.0
nltk==3.9.1
numpy==2.2.0
openai==1.58.1
pandas==2.2.3
peft==0.13.2
psutil==6.1.0
psutil==5.9.0
scikit_learn==1.6.0
sentence_transformers==3.2.1
swanlab==0.4.0
torch==2.5.0
torchsummary==1.5.1
tqdm==4.66.5
transformers==4.46.3
typing_extensions==4.12.2
